.generated-password {
    height: 0px;
    width: 0px;
    position: absolute;
    border: none;
}

.panel-section-footer-button.default {
    background-color: #8000d7;
}

.panel-section-footer-button.default:hover {
    background-color: #6200a4;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.panel.notshown {
    display: none;
}
